body{
    font-family: Arial, Helvetica, sans-serif;
    width: 80%;
    height: 100%;
    margin-top: 30px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 30px;
    border-style: solid;
    border-width: 1px;
    border-color: brown;
    padding: 10px;
}
h1{
    background-color: crimson;
    color: whitesmoke;
    width: 300px;
    right: 40px;
    margin: 40px;
    border: 3px solid black;
    padding: 10px;
}
p{
    display: inline;
    background-color: lightgray;
}
span{
    background-color: crimson;
    color: whitesmoke;
}
.box1{
    position: static;
    background-color: lightskyblue;

    width: 300px;
    height: 40px;
}
.box2{
    position: relative;
    background-color: lightseagreen;
    
    width: 300px;
    height: 40px;
    bottom: 40px;
    left: 350px;
}
.box3{
    position: absolute;
    background-color: lightsalmon;

    width: 300px;
    height: 40px;
    bottom: 40px;
    left: 350px;
}
.box4{
    position: fixed;
    background-color:lightgreen;
    
    width: 300px;
    height: 40px;
    top: 40px;
    right: 350px;
}
.box5{
    position: sticky;
    background-color:lightblue;
    
    width: 300px;
    height: 40px;
    bottom: 200px;
    left: 150px;
}
.layer1{
    position: relative;
    background-color:gold;

    width: 80px;
    height: 40px;
    bottom: 0px;
    left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}
.layer2{
    position: relative;
    background-color:violet;

    width: 80px;
    height: 40px;
    bottom: 40px;
    left: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}
#esquerda{
    background-color: royalblue;
    width: 100px;
    height: 100px;
}
#direita{
    background-color: rgb(71, 139, 108);
    width: 100px;
    height: 100px;
}