h2{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 10px;
    
}
ul{
    font-family: Arial, Helvetica, sans-serif;

}
h1{
    font-size: 24px;
    
    
}
div.biografia{
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 85px;
}
div.objetivo{
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 85px;
}
div.contato1{
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
    background-color: gray;
    color: black;
    padding: 6px;
    float: left;
}
div.contato2{
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
    background-color: gray;
    color: black;
    padding: 6px;
    float: left;
    margin-left: 550px;
    margin-right: 550px;
}
div.contato3{
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
    background-color: gray;
    color: black;
    padding: 6px;
}
div.curso{
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 85px; 
}
div.projeto{
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 85px;  
}
