body{
    background-color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    background-color:rgb(94, 139, 126);
    text-align: center;
    border: 2px solid black;
    color: rgb(223, 238, 234);
}
h2{
    background-color:rgb(94, 139, 126); 
    margin: center;
    border: 2px solid black;
    padding: 30px;
    text-align: center;
    margin-right: 580px;
    margin-left: 580px;

}
div.box1{
    position: static;
    background-color:rgb(94, 139, 126);
    border: 2px solid black;
    padding: 30px;
    text-align: center;

    width: 300px;
    height: 40px;
    
}
div.box2{
    position: relative;
    background-color:rgb(94, 139, 126);
    border: 2px solid black;
    padding: 30px;
    text-align: center;
    
    width: 300px;
    height: 40px;
    bottom: 102px;
    left: 450px;
}
div.box3{
    position: relative;
    background-color:rgb(94, 139, 126);
    border: 2px solid black;
    padding: 30px;
    text-align: center;
    
    width: 300px;
    height: 40px;
    bottom: 206px;
    left: 900px;
}
