body{
    background-image: linear-gradient(to right, #ACB992, #E9E5D6);
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    background-color:rgb(70, 78, 46);
    text-align: center;
    border: 2px solid black;
    color: rgb(223, 238, 234);
    border-radius: 6px;
}
h2{
    background-color:rgb(70, 78, 46); 
    border: 2px solid black;
    padding: 30px;
    text-align: center;
    margin-right: 580px;
    margin-left: 580px;
    border-radius: 6px;

}
div.box1{
    text-align: center;
    font-size: small;
    border-radius: 6px;
    position: relative;
    background-color:rgb(70, 78, 46);
    border: 2px solid black;
    padding: 30px;
    

    width: 70px;
    height: 40px;
    left: 540px;
    
}
div.box2{
    text-align: center;
    font-size: small;
    border-radius: 6px;
    position: relative;
    background-color:rgb(70, 78, 46);
    border: 2px solid black;
    padding: 30px;
    
    
    width: 70px;
    height: 40px;
    bottom: 104px;
    left: 684px;
    
}
div.box3{
    text-align: center;
    font-size: small;
    border-radius: 6px;
    position: relative;
    background-color:rgb(70, 78, 46);
    border: 2px solid black;
    padding: 30px;
      
    
    width: 70px;
    height: 40px;
    bottom: 208px;
    left: 828px;

}
.navegacao{
    float: right;
    display: block;
    text-decoration: none;
    text-align: right;
    padding: 10px 10px;
    border-radius: 6px 6px;
    background-color: rgb(70, 78, 46);
    border: 2px solid black;

}
.navegacao{
    position: absolute;
    width: 80px;
    height: 40px;
    left: 951px;
    top: 138px;
} 
