body{
    background-color:rgb(223, 238, 234);
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    background-color:rgb(94, 139, 126);
    text-align: center;
    border: 2px solid black;
    color: rgb(223, 238, 234);
}
